:root {
    --primary-color: #1D4D72;
    --secondary-color: #F2F2F2;
    --nav-color: #333333;
    --outline: #CCCCCC;
    --title-font: "Rubik Dirt", system-ui, sans-serif;
    --body-font: 'Syne Mono', 'Verdana', sans-serif;
    --subtitle-font: 'Arial', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}