@media screen and (min-width: 500px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(800px / 4), 1fr));
        gap: 20px;
    }

    .container img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}