:root {
    --primary-color: #4c3954;
    --secondary-color: #a170aa;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --high-light: var(--high-light);
    --font-family: 'Datatype', sans-serif;
    --font-title: 'Bebas Neue', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
}


header *,
h1,
h2 {

    font-size: xx-large;
    font-family: var(--font-title);
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
}

header p,
#menu {
    align-self: center;
    justify-self: center;
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "✖";
}

nav p {
    float: left;
}

.navigation {
    color: var(--background-color);
    background-color: var(--primary-color);
    list-style-type: none;
    text-align: center;
    flex-flow: column;

    display: none;
}

.navigation li:hover {
    background-color: var(--secondary-color);
    transition: 0.5s;
}

.navigation a {
    color: inherit;
}

.navigation.show {
    display: flex;
}

main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin: 2em;
}

h1 {
    text-align: center;
}


.container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figure {
    background-color: whitesmoke;
    border: grey 1px solid;
    padding: 1em;
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    text-align: center;
}

#lastModified {
    color: yellow;
}