:root {
    --primary-color: #4c3954;
    --secondary-color: #a170aa;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --font-family: 'Datatype', sans-serif;
    --font-title: 'Bebas Neue', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
}

h1, header h2, #menu, .navigation a {
    font-size: xx-large;
    font-family: var(--font-title);
    text-decoration: none;
}

#menu {
    float: right;
    text-align: right;
}

#menu::before {
    content: "☰";
}

#menu.show::before{
    content: "✖";
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.navigation {
    background-color: var(--primary-color);
    color: var(--background-color);
    display: none;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}

.navigation li{
    width: 100%;
}

.navigation li:hover{
    background-color: var(--secondary-color);
}

.navigation a{
    width: inherit;
    color: inherit;
}

.navigation.show {
    display: flex;
}

h1 {
    text-align: center;
}

main {
    max-width: 800px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
footer {
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
}

#lastModified {
    color: yellow;
}